Antrame laboratoriniame darbe bendrai reikėjo įgyvendinti šiuos reikalavimus:
    
1. Pasirinktos dalykinės srities ER diagrama, kurioje yra bent 3 logiškai pagrįstos ir tarpusavyje susiję esybės; pagal ER modelį sudaryta ir pavaizduota grafiškai DB reliacinė schema.
2. Sukurtos ir užpildytos testiniais duomenimis lentelės (su pirminiais bei išoriniais raktais ir reikalavimais reikšmėms), jų sukūrimo (apibrėžimo), užpildymo testiniais duomenimis bei ištrynimo sakiniai.
3. Sukurtos virtualiosios lentelės, indeksai, trigeriai, jų apibrėžimo bei ištrynimo sakiniai; duomenų paieškos, įvedimo, atnaujinimo ir trynimo sakiniai.

### ER diagrama ir DB schema

Pasirinkau nagrinėti tipinę platformą, kurioje programuotojai įvairiomis kalbomis sprendžia uždavinius iš duoto uždavinių sąrašo ir rungtyniauja tarpusavyje. Jie taip pat turi papildomų opcijų, pavyzdžiui gali pasikviesti kitus narius į draugus arba lik'inti/dislik'inti išspręstus uždavinius.

#### ER_diagrama
(Išoriniai raktai pažymėti dėl patogumo)
![](codesignal_erd.PNG)
#### DB_schema
![](codesignal_dbs.PNG)

### Duomenų bazės užpildymas testiniais duomenimis
Duomenų bazę galima atsidaryti per [rextester](https://rextester.com) iš failo [codesignal_data](codesignal_data.txt)

Didesnę dalį duomenų generavau su Python naudodamas masyvų operacijas ir tam skirtus paketus: [Faker](https://pypi.org/project/Faker/) ir [Lorem](https://pypi.org/project/lorem/). Apie Faker taikymą naudojant MySQL plačiau kalba [uždaroje paskaitoje](https://www.udemy.com/course/the-ultimate-mysql-bootcamp-go-from-sql-beginner-to-expert/learn/lecture/6996800#questions).

### Darbas su duomenų baze
Atskirus kodo fragmentus galima leisti po sukurta duomenų baze galima per [rextester](https://rextester.com). Čia rezultatai pateikti vaizdingiau.

1\. Tam tikri useriai yra boot''ai. Juos galima pamėginti atskirti taip: patikrinti, ar jie yra priėmę į draugus likusius vartotojus. Nustatytus įtartinus vartotojus ištrinsiu. Tokiu būdu turėtų nelikti vartotojų su numeriais 31, 47 ir 52 bei su jais susijusių lik'ų, sprendimų ir kvietimų į draugus.

WITH boots AS
  (SELECT user_id,
          COUNT(*)
   FROM codefriends
   GROUP BY user_id
   HAVING COUNT(*) =
     (SELECT COUNT(*)
      FROM users) - 1)
DELETE
FROM users
WHERE users.id IN
    (SELECT user_id
     FROM boots);

2\. Tarkime aš taip pat sugalvojau susikurti paskyrą. Tada indeksas, sukūrimo data, lygis ir patirtis turėtų atsirasti automatiškai.

INSERT INTO users(username)
VALUES ('Simonas_mumaitis');
SELECT *
FROM users
WHERE id=
    (SELECT MAX(id)
     FROM users);

3\. Ouč, susimoviau! Bekurdamas paskyrą ne taip įvedžiau pavardę. Ji yra Mamaitis. Būtinai reikia pasikeisti vartotojo vardą.

UPDATE users
SET username='Simonas_mamaitis'
WHERE users.username='Simonas_mumaitis';
SELECT *
FROM users
WHERE id=
    (SELECT MAX(id)
     FROM users);

4\. Sukuriame virtualią lentelę, kurioje rodo vartotojus, neišsprendusius nei vieno uždavinio

CREATE VIEW neaktyvūs_vartotojai(username) AS
SELECT username
FROM users
WHERE users.id NOT IN
    (SELECT user_id
     FROM solves
     GROUP BY user_id);
SELECT *
FROM neaktyvūs_vartotojai;
DROP VIEW neaktyvūs_vartotojai;

5\. Kiekvienam vartotojui randame visų jo draugų sąrašą. Čia yra bandymas atkartoti MYSQL kalboje vartojamą metodą "GROUP_CONCAT".

CREATE VIEW draugystės(id, friend_id) AS
SELECT users.id,
       codefriends.user_id
FROM users,
     codefriends
WHERE users.id = codefriends.codefriend_id
UNION
SELECT users.id,
       codefriends.codefriend_id
FROM users,
     codefriends
WHERE users.id = codefriends.user_id;

SELECT id,
       COUNT(friend_id) AS draugu_kiekis,
       array_to_string(array_agg(friend_id), ',') AS draugai
FROM draugystės
GROUP BY id
ORDER BY id
LIMIT 10;
DROP VIEW draugystės;

6\. Vartotojų lentelę papildysime stulpeliu **language** su nurodytomis kalbomis, kuriomis jie sprendė uždavinius

ALTER TABLE users ADD COLUMN LANGUAGE VARCHAR(50) DEFAULT NULL;

WITH id_language AS
  (SELECT solves.user_id AS id,
          array_to_string(array_agg(DISTINCT LANGUAGE), ',') AS LANGUAGE
   FROM solves
   GROUP BY solves.user_id
   ORDER BY solves.user_id)
UPDATE users
SET LANGUAGE=id_language.language
FROM id_language
WHERE id_language.id = users.id;

SELECT *
FROM users
ORDER BY users.id
LIMIT 10;

7\. Vartojams, aišku, rūpi pasilyginti su kitais ir pažiūrėti, kiek jie uždavinių išsprendė ir kokiomis kalbomis (rodomi pirmieji 10):

SELECT username,
       users.language,
       COUNT(*)
FROM users,
     solves
WHERE users.id = solves.user_id
GROUP BY user_id,
         username,
         users.language
ORDER BY COUNT(*) DESC
LIMIT 10;

8\. Codesignal developeriai nusprendė žengti pirmyn ir šį žaidimą padaryti patrauklesnį. Kiekvienam vartotojui yra priskiriami XP taškai ir lygis.

WITH solved AS
  (SELECT users.id AS id,
          COUNT(*) AS cnt
   FROM users,
        solves
   WHERE users.id = solves.user_id
   GROUP BY users.id)
UPDATE users
SET XP = cnt*300,
    LEVEL = cnt*300/200+1
FROM solved
WHERE users.id = solved.id;

SELECT *
FROM users
ORDER BY LEVEL DESC;

**Tikimės, kad šis startuolis bus sėkmingas. Viso!**